<div ng-controller="retailerController">
     <div class="pull-right" style="margin-top:2px;">
            <button type="button" id="update" class="btn btn-primary btn-md" data-toggle="modal" >Create PO</button>
          
        </div>
        <div class="panel-group">

            <div class="panel panel-primary">
                <div class="panel-heading">Product Available</div>
                <div class="panel-body">

                    <table class="table  table-striped" style="background-color:aliceblue;">
                        <thead style="background-color:antiquewhite;">
                              <tr>
                                <th>Select</th>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Seller Name</th>
                                <th>Seller ID</th>
                                <th>Price</th>
                                <th>Manufacturing Date</th>
                                <th>Manufacturing Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        
				   <tr ng-repeat="retailerShipments in retailerShipment | orderBy :'-shipmentBarCode'">
                   <td><input type="radio" ng-click = "selectrow(retailerShipments)" name = "yourPORadio"></td>
                     <td><a href="" data-toggle="modal" data-target = "#avilableShipInfo" ng-click = "selectrow(retailerShipments)" id="shippinginfo">{{retailerShipments.productID}}</a></td>
                     <td>{{product.productName}}</td>
                     <td>{{product.sellerName}}</td>
                     <td>{{product.sellerID}}</td>
                     <td>{{product.price}}</td>
                     
                     <td>{{product.ManufacturingDate}}</td>
                     <td>{{product.ManufacturingLocation}}</td>
                     <td>{{product.status}}</td>
                  </tr>
				  
				  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-group">
          <div class="panel panel-primary">
             <div class="panel-heading">PO available</div>
             <div class="panel-body">
                <table class="table  table-striped" style="background-color:aliceblue;">
                   <thead style="background-color:antiquewhite;">
                      <tr>
                         <th>Select</th>
                         <th>PO ID</th>
                         <th>Product ID</th>
                         <th>Product Name</th>
                         <th>Seller Name</th>
                         <th>Buyer Name</th>
                         <th>No. Of Product</th>
                         <th>TotalPrice</th>
                         <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="shipment in shipments | orderBy :'-status'">
                         <td><input type="radio" ng-click = "selectShipment(shipment)" name = "yourPORadio" ng-show="{{shipment.status == 'Shipment Created '}}"></td>
                         <td><a href="" data-toggle="modal" data-target = "#shipmentInfo" ng-click = "selectShipment(shipment);" id="shippinginfo">{{shipment.poID}}</a></td>
                        
                         <td>{{shipment.productID}}</td>
                         <td>{{shipment.productName}}</td>
                         <td>{{shipment.sellerName}}</td>
                         <td>{{shipment.buyerName}}</td>
                         <td>{{shipment.noOfItem}}</td> 
                         <td>{{shipment.totalPrice}}</td>
                         <td>{{shipment.status}}</td>
                        
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
<div class="panel-group">

            <div class="panel panel-primary">
                <div class="panel-heading">Shipment In Transit</div>
                <div class="panel-body">

                    <table class="table  table-striped" style="background-color:aliceblue;">
                        <thead style="background-color:antiquewhite;">
                              <tr>
                                <th>Select</th>
                                <th>PO ID</th>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Seller Name</th>
                                <th>Buyer Name</th>
                                <th>No. Of Product</th>
                                <th>TotalPrice</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                  <tr ng-repeat="retailerStoreShipments in retailerStore | orderBy :'-shipmentBarCode'">
                  
                     <td><a href="" data-toggle="modal" data-target = "#avilableShipInfo" ng-click = "selectrow(retailerStoreShipments)" id="shippinginfo">{{retailerStoreShipments.poID}}</a></td>
                     <td>{{retailerStoreShipments.productID}}</td>
                     <td>{{retailerStoreShipments.productName}}</td>
                     <td>{{retailerStoreShipments.sellerName}}</td>
                     <td>{{retailerStoreShipments.buyerName}}</td>
                     <td>{{retailerStoreShipments.noOfItem}}</td> 
                     <td>{{retailerStoreShipments.totalPrice}}</td>
                     <td>{{retailerStoreShipments.status}}</td>
                  </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-group">
          <div class="panel panel-primary">
             <div class="panel-heading">Shipment Accepeted By Buyer</div>
             <div class="panel-body">
                <table class="table  table-striped" style="background-color:aliceblue;">
                   <thead style="background-color:antiquewhite;">
                      <tr>
                         <th>Select</th>
                         <th>PO ID</th>
                         <th>Product ID</th>
                         <th>Product Name</th>
                         <th>Seller Name</th>
                         <th>Buyer Name</th>
                         <th>No. Of Product</th>
                         <th>TotalPrice</th>
                         <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="shipment in shipments | orderBy :'-status'">
                         <td><input type="radio" ng-click = "selectShipment(shipment)" name = "yourPORadio" ng-show="{{shipment.status == 'Shipment Created '}}"></td>
                         <td><a href="" data-toggle="modal" data-target = "#shipmentInfo" ng-click = "selectShipment(shipment);" id="shippinginfo">{{shipment.poID}}</a></td>
                        
                         <td>{{shipment.productID}}</td>
                         <td>{{shipment.productName}}</td>
                         <td>{{shipment.sellerName}}</td>
                         <td>{{shipment.buyerName}}</td>
                         <td>{{shipment.noOfItem}}</td> 
                         <td>{{shipment.totalPrice}}</td>
                         <td>{{shipment.status}}</td>
                        
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
       <div class="panel-group">
        <div class="panel panel-primary">
           <div class="panel-heading">Shipment Rejected By Buyer</div>
           <div class="panel-body">
              <table class="table  table-striped" style="background-color:aliceblue;">
                 <thead style="background-color:antiquewhite;">
                    <tr>
                       <th>Select</th>
                       <th>PO ID</th>
                       <th>Product ID</th>
                       <th>Product Name</th>
                       <th>Seller Name</th>
                       <th>Buyer Name</th>
                       <th>No. Of Product</th>
                       <th>TotalPrice</th>
                       <th>Status</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="shipment in shipments | orderBy :'-status'">
                       <td><input type="radio" ng-click = "selectShipment(shipment)" name = "yourPORadio" ng-show="{{shipment.status == 'Shipment Created '}}"></td>
                       <td><a href="" data-toggle="modal" data-target = "#shipmentInfo" ng-click = "selectShipment(shipment);" id="shippinginfo">{{shipment.poID}}</a></td>
                      
                       <td>{{shipment.productID}}</td>
                       <td>{{shipment.productName}}</td>
                       <td>{{shipment.sellerName}}</td>
                       <td>{{shipment.buyerName}}</td>
                       <td>{{shipment.noOfItem}}</td> 
                       <td>{{shipment.totalPrice}}</td>
                       <td>{{shipment.status}}</td>
                      
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
        <div class="modal fade" id="createPO" role="dialog" data-backdrop = "static">
          <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
                <div class="modal-header" style="background-color:darkcyan;">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Create Shipment</h4>
                </div>
                <div class="modal-body" style="background-color:azure;">
                   <form role="form" class="form-horizontal">
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">PO ID:</label>
                         <div class="col-sm-8">
                            <input id="poID" type="text" ng-model="poID" disabled="" class="form-control">
                         </div>
                      </div>
                    <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Product ID:</label>
                         <div class="col-sm-8">
                           <input id="productID" type="text" ng-model="productID" required="" class="form-control" disabled="">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Product Name:</label>
                         <div class="col-sm-8">
                           
                <input id="productName" type="text" ng-model="productName" required="" class="form-control">
                      
                         </div> 
                      </div>
                     
                      <div class="form-group">
                         <label for="shipmentStatus" class="col-md-4 control-label">Seller Name:</label>
                         <div class="col-md-8">
                            <input id="sellerName" type="text" ng-model="sellerName" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Seller ID:</label>
                         <div class="col-sm-8">
                            <input id="sellerID" type="text" ng-model="sellerID" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Buyer Name:</label>
                         <div class="col-sm-8">
                            <input id="buyerName" type="text" ng-model="buyerName" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Buyer ID:</label>
                         <div class="col-sm-8">
                            <input id="buyerID" type="text" ng-model="buyerID" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">logistics Name:</label>
                         <div class="col-sm-8">
                            <input id="logisticsName" type="text" ng-model="logisticsName" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">logistics ID:</label>
                         <div class="col-sm-8">
                            <input id="logisticsID" type="text" ng-model="logisticsID" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Number Of Product:</label>
                         <div class="col-sm-8">
                            <input id="noOfItem" type="text" ng-model="noOfItem" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Price:</label>
                         <div class="col-sm-8">
                            <input id="price" type="text" ng-model="price" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Total Price:</label>
                         <div class="col-sm-8">
                            <input id="totalPrice" type="text" ng-model="totalPrice" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Order Date:</label>
                         <div class="col-sm-8">
                            <input id="orderDate" type="text" ng-model="orderDate" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Manufacturing Location:</label>
                         <div class="col-sm-8">
                            <input id="manufacturingLocation" type="text" ng-model="manufacturingLocation" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Manufacturing Date:</label>
                         <div class="col-sm-8">
                            <input id="manufacturingDate" type="text" ng-model="manufacturingDate" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Delivery Address:</label>
                         <div class="col-sm-8">
                            <input id="deliveryAddress" type="text" ng-model="deliveryAddress" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Deliver Date:</label>
                         <div class="col-sm-8">
                            <input id="deliverDate" type="text" ng-model="deliverDate" required="" class="form-control">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="manufacturer" class="col-sm-4 control-label">Status:</label>
                         <div class="col-sm-8">
                            <input id="status" type="text" ng-model="status" required="" class="form-control">
                         </div>
                      </div>
                   </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id = "shipmentBtn" class="btn btn-info" ng-click="createShipment();">Submit</button>
                
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
             </div>
          </div>
       </div>
      
</div>
